form#Editor {
    width: 300px;
    margin: 0;
    padding: 0;
}

form#Editor label, form#Editor input[type='text'] {
    display: block;
}

form#Editor #editor-buttons {
    border: none;
    text-align: right;
}

form#editor textarea,form#Editor input[type='text'] {
    width: 90%;
    margin-bottom:2em;
}

form#editor textarea {
    height: 10em;
}

input:required {
    box-shadow:none;
}

form#comment-form {
    margin-top: 2em;
    padding-top: 0.7em;
    border-top: 1px solid grey;
}

form#comment-form label, form#comment-form input[type='submit'] {
    padding-top: 0.7em;
    display: block;
}
